<h1>Восстановление пароля</h1>
<div class="sign-in-link-container">
	<a routerLink="/sign-in">Авторизация</a>
</div>
<form [formGroup]="form" class="account-form" (ngSubmit)="recoverPassword()">
	<p-messages *ngIf="resultMessage"
	            [(value)]="resultMessage"
	            [enableService]="false"
	            styleClass="p-messages-vertical-orientation">
	</p-messages>
	<div class="form-row">
		<label for="email">Адрес электронной почты</label>
		<input formControlName="email"
		       type="text"
		       id="email"
		       name="email"
		       pInputText />
	</div>
	<div class="text-center">
		<p-button type="submit"
		        [disabled]="form.invalid"
		        label="Отправить ссылку для сброса пароля"
		        [loading]="formRequestPending">
		</p-button>
	</div>
</form>