<h1>Смена пароля</h1>
<div class="sign-in-link-container">
	<a routerLink="/sign-in">Авторизация</a>
</div>
<form [formGroup]="form" class="account-form" (ngSubmit)="resetPassword()">
	<p-messages *ngIf="resultMessage"
	            [(value)]="resultMessage"
	            [enableService]="false"
	            styleClass="p-messages-vertical-orientation">
	</p-messages>
	<ng-container *ngIf="badLinkMessage; else formControls">
		<p-messages [(value)]="badLinkMessage"
		            [enableService]="false"
		            styleClass="p-messages-vertical-orientation">
		</p-messages>
	</ng-container>
	<ng-template #formControls>
		<div class="form-row">
			<label for="password">Новый пароль</label>
			<input formControlName="password"
			       type="password"
			       id="password"
			       name="password"
			       autocomplete="off"
			       pPassword />
		</div>
		<div class="form-row">
			<label for="passwordConfirmation">Повторите пароль</label>
			<input formControlName="passwordConfirmation"
			       type="password"
			       id="passwordConfirmation"
			       name="passwordConfirmation"
			       autocomplete="off"
			       pPassword
			       [feedback]="false" />
		</div>
		<div class="text-center">
			<p-button type="submit"
			        [disabled]="form.invalid"
			        label="Изменить пароль"
			        [loading]="formRequestPending">
			</p-button>
		</div>
	</ng-template>
</form>