<form (ngSubmit)="search()" autocomplete="off" class="filter-form">
    <!-- Filter inputs -->
    <div *ngFor="let filterItem of _filtersArray; index as i" class="filter-item-container" [class.filter-and-match-mode]="_matchModeSelectorVisible(filterItem)">
        <ng-container *ngIf="!_customFilterExists(filterItem.field); else customFilter" [ngSwitch]="filterItem.settings.inputType">
            <div class="filter-input-container">
                <!-- Calendar -->
                <span *ngSwitchCase="_inputTypeEnum.Calendar" class="p-float-label">
                    <p-calendar [(ngModel)]="filterItem.value"
                                [ngModelOptions]="{standalone: true}"
                                dataType="date"
                                [dateFormat]="filterItem.settings.calendarDateFormat ? filterItem.settings.calendarDateFormat : defaultDateFormat"
                                [showButtonBar]="true"
                                [readonlyInput]="true"
                                [yearNavigator]="true"
                                [yearRange]="filterItem.settings.calendarYearRange ? filterItem.settings.calendarYearRange : defaultCalendarYearRange"
                                [monthNavigator]="true"
                                [selectionMode]="filterItem.matchMode === _matchModeEnum.Between ? 'range' : 'single'"
                                appendTo="body"
                                (onSelect)="_onSelectableInputChanged(filterItem)">
                    </p-calendar>

                    <label>{{filterItem.settings.header}}</label>
                </span>

                <!-- Number -->
                <ng-container *ngSwitchCase="_inputTypeEnum.Number">
                    <span *ngIf="filterItem.matchMode !== _matchModeEnum.Between; else numericBetweenInputs" class="p-float-label">
                        <p-inputNumber [(ngModel)]="filterItem.value"
                                       [ngModelOptions]="{standalone: true}"
                                       [showButtons]="true"
                                       [maxFractionDigits]="filterItem.settings.numericInputMaxFractionDigits"
                                       mode="decimal"
                                       locale="en-US">
                        </p-inputNumber>

                        <label>{{filterItem.settings.header}}</label>
                    </span>
                    <ng-template #numericBetweenInputs>
                        <input-number-range [(ngModel)]="filterItem.value"
                                            [ngModelOptions]="{standalone: true}"
                                            [placeholder]="filterItem.settings.header"
                                            [floatingLabel]="true"
                                            [maxFractionDigits]="filterItem.settings.numericInputMaxFractionDigits">
                        </input-number-range>
                    </ng-template>
                </ng-container>

                <!-- Checkbox -->
                <span *ngSwitchCase="_inputTypeEnum.Checkbox">
                    <p-checkbox [(ngModel)]="filterItem.value"
                                [ngModelOptions]="{standalone: true}"
                                [binary]="true"
                                [label]="filterItem.settings.header"
                                (onChange)="_onSelectableInputChanged(filterItem)">
                    </p-checkbox>
                </span>

                <!-- Dropdown -->
                <p-dropdown *ngSwitchCase="_inputTypeEnum.Dropdown"
                            [(ngModel)]="filterItem.value"
                            [ngModelOptions]="{standalone: true}"
                            [placeholder]="filterItem.settings.header"
                            [options]="filterItem.settings.dropdownOptions"
                            [showClear]="true"
                            appendTo="body"
                            (onChange)="_onSelectableInputChanged(filterItem)">
                </p-dropdown>

                <p-multiSelect *ngSwitchCase="_inputTypeEnum.Multiselect"
                            [(ngModel)]="filterItem.value"
                            [ngModelOptions]="{standalone: true}"
                            [placeholder]="filterItem.settings.header"
                            [options]="filterItem.settings.dropdownOptions"
                            (onChange)="_onSelectableInputChanged(filterItem)"
                            appendTo="body">
                </p-multiSelect>

                <!-- Text -->
                <span *ngSwitchDefault class="p-float-label">
                    <input pInputText
                           [(ngModel)]="filterItem.value"
                           [ngModelOptions]="{standalone: true}"/>

                    <label>{{filterItem.settings.header}}</label>
                </span>
            </div>
            <div *ngIf="_matchModeSelectorVisible(filterItem)" class="filter-match-mode-selector">
                <p-dropdown [(ngModel)]="filterItem.matchMode"
                            [ngModelOptions]="{standalone: true}"
                            [options]="filterItem.settings.matchModeOptions"
                            dropdownIcon="pi pi-filter"
                            (onChange)="_onMatchModeChanged(filterItem)">
                </p-dropdown>
            </div>
        </ng-container>
        <ng-template #customFilter>
            <div class="filter-input-container">
                <ng-container *ngTemplateOutlet="_getFilterTemplate(filterItem.field); context: {$implicit: filterItem}"></ng-container>
            </div>
        </ng-template>
    </div>

    <!-- Submit/clear buttons -->
    <div *ngIf="" class="filter-buttons-panel">
        <button pButton type="button" label="Clear" class="p-button-secondary" (click)="clear()"></button>
        <button pButton type="submit" label="Search"></button>
    </div>
</form>